.registroFinal {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.155);
  border-radius: 15px;
  background-color: #F5F5F5;
  width: 70%;
  margin: auto;
}

.registroPerfil input, .registroPerfil textarea {
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px 0;
  height: 25px;
  padding-left: 6px;
  font-size: 18px;
}

.registroPerfil textarea {
  height: 100px;
}

.registroPerfil button {
  background-color: black;
  color: #F5F5F5;
  border-radius: 10px;
  height: 49px;
  margin: 8px 0;
  font-size: 20px;
  text-align: center;
}


.registroPerfil label {
  margin: 8px 0 5px 0;
  font-size: 18px;
}

.registroPerfil p {
  text-align: center;
  font-size: 20px;
  margin: 0 33px 20px 33px;
}